<header id="main_header" class="cf">
    <div class="wrapper_wide">
        <a href="" id="logo">Podcast.FM</a>
        <nav>
            <ul>
                <li><a routerLink="/podcasts">Explore</a></li>
                <li><a routerLink="/signin">Sign In</a></li>
                <li><a routerLink="/signup">Sign Up</a></li>
                <li><a href="#">Create a Podcast</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="banner" class="signin_banner">
    <h1>Welcome Back Nice to see you!!</h1>
</div>
<div id="form">
    <div class="wrapper_skinny">
        <form>
            <div class="field">
                <label for="">Email</label><br>
                <input type="email">
            </div>
            <div class="field">
                <label for="">Password</label><br>
                <input type="password">
            </div>
            <div class="field">
                <label for="">Text</label><br>
                <input type="text">
            </div>
            <div class="field">
                <label for="">Text Area</label><br>
                <textarea></textarea>
            </div>
            <div class="actions">
                <input type="submit" class="button button_highlight button_block">
            </div>
        </form>
    </div>
</div>