<header id="main_header" class="cf">
    <div class="wrapper_wide">
        <a href="" id="logo">Podcast.FM</a>
        <nav>
            <ul>
                <li><a routerLink="/podcast">Explore</a></li>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Create a Podcast</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="banner" class="podcast_banner">
    <h1>Discover your new Favorite Podcast</h1>
</div>

<div id="podcasts" class="cf">
    <div class="wrapper">
        <ul>
            <a routerLink="/podcast/show">
                <li>
                    <img src="../../assets/images/podcast_redburd_logo.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/images/podcast3.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/images/podcast.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/images/podcast_lover.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/images/podcast_redburd_logo.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <img src="../../assets/images/podcast_redburd_logo.jpg" alt="Cards Corner">
                    <div class="podcast-overview">
                        <h2>narwals podcast</h2>
                        <p class="episode_count">1 Episode</p>
                    </div>
                </li>
            </a>

        </ul>
    </div>

</div>
<div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next Page</a>
</div>