
<div id="background">
    <header class="cf">
        <div class="wrapper_wide">
            <a href="" id="logo">Podcast.FM</a>
            <nav>
                <ul>
                    <li><a routerLink="/podcast">Explore</a></li>
                    <li><a routerLink="/signin">Sign In</a></li>
                    <li><a href="#">Create a Podcast</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper_skinny">
        <h1>Discover your new favorite podcast,<br>  or create your own.</h1>
        <a class="button button_highlight" href="#">Create a Podcast</a>
        <a routerLink="/podcast" class="button button_white" href="#">Explore</a>
    </div>
</div>
