<header id="main_header" class="cf">
    <div class="wrapper_wide">
        <a href="" id="logo">Podcast.FM</a>
        <nav>
            <ul>
                <li><a routerLink="/podcasts">Explore</a></li>
                <li><a routerLink="/signin">Sign In</a></li>
                <li><a href="#">Create a Podcast</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="podcast_show">
    <div id="show_banner">
        <div class="wrapper_skinny">
            <h1>{{ podcast.title }} Podcast</h1>
            <p class="description">
                I'm baby lo-fi flexitarian cloud bread franzen, la croix slow-carb YOLO swag tofu marfa. Try-hard fanny pack 90's crucifix, wayfarers poutine pork belly taiyaki occupy cornhole sriracha vinyl post-ironic roof party. Street art chartreuse next level hammock farm-to-table twee af. Jean shorts cloud bread subway tile, four loko hammock
            </p>
            <a href="" class="subscribe_link">iTunes</a>
            <a href="" class="subscribe_link">Stitcher</a>
            <a href="" class="subscribe_link">Podbay</a>
        </div>
    </div>
    <div id="bread_crumb">
        <a routerLink="/podcasts">Podcasts</a><span> / </span><p>{{ podcast.title }} Podcast</p>

    </div>
    <div id="episodes">
        <div class="wrapper_skinny">
            <ul class="cf"  *ngFor="let episode of episodes">
                <li class="cf">
                    <div class="episode_thumbnail">
                        <a routerLink="episode/{{ episode.id }}">
                            <img src="https://picsum.photos/150/150" alt="">
                        </a>
                    </div>
                    <div class="episode_overview">
                        <h2><a routerLink="episode/{{ episode.id }}">{{ episode.title }}</a></h2>
                        <p class="description">
                            I'm baby lo-fi flexitarian cloud bread franzen,
                             la croix slow-carb YOLO swag tofu marfa. Try-hard
                              fanny pack 90's crucifix, wayfarers poutine pork
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next Page</a>
</div>